.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: fit-content;
}

.cell {
  display: flex;
  width: 120px;
  height: 120px;
  background-color: rgb(230, 230, 230);
  font-size: 1.5rem;

  border-radius: 5px;
  font-size: 2rem;

  align-items: center;
  justify-content: center;
  font-weight: bold;

  color: white;
  transition: 200ms ease;

  &.player1Selected {
    background-color: var(--red);
  }

  &.player2Selected {
    background-color: var(--blue);
  }

  &:hover {
    filter: brightness(0.9);
  }
}

.turnIndicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;

  & span {
    position: relative;
    bottom: 2px;
    margin-right: 15px;

    &.turn1 {
      color: var(--red);
    }

    &.turn2 {
      color: var(--blue);
    }
  }
}

.winnerIndicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: winner-text 1s ease-in-out alternate infinite;

  > .player1 {
    color: var(--red);
  }

  > .player2 {
    color: var(--blue);
  }

  > .bar {
    display: flex;
    height: 2px;
    width: 200px;
    background-color: white;
  }
}

.settings {
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
  padding: 0;

  > .setting {
    margin: 0 20px;

    > h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 13px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }

    > .settingsGroup > div {
      display: flex;
      align-items: center;

      > input[type="color"] {
        margin: 0 0 0 20px;
        border-radius: 4px;
        padding: 1px 3px;
        background-color: rgba(0, 0, 0, 0.3);
      }

      > h4 {
        margin: 10px 0;
      }
    }
  }
}

button {
  font-size: 1rem;
  margin: 5px 5px;
  padding: 4px 12px;
  background-color: rgba(240, 240, 240, 1);
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 100ms ease;

  &.selected {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: white;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid var(--accent);

    &:not(.selected) {
      background-color: rgba(230, 230, 230, 1);
    }
  }

  &:active {
    scale: 0.9;
  }
}

span {
  margin-left: 5px;

  &.betaWarning {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 0.85rem;
    padding: 3px 5px;
    border-radius: 5px;
  }

  /* &.aiTooltipTrigger {
    margin-left: 20px;
    font-size: 0.85rem;
    padding: 3px 7px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
  } */
}

@media (prefers-color-scheme: dark) {
  body {
      color: white;
      background-color: rgb(20, 20, 20);
  }

  .cell {
      background-color: rgb(50, 50, 50);

      &:hover:not(.player1Selected):not(.player2Selected) {
        background-color: rgb(75, 75, 75);
      }
  }

  .settings {
    > .setting > h3 {
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
  }

  button {
    color: white;
    background-color: rgb(50, 50, 50);

    &:hover {

      &:not(.selected) {
        background-color: rgba(75, 75, 75, 1);
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2.3rem;
  }

  .game {
    gap: 6px;
  }

  .cell {
    width: 90px;
    height: 90px;
  }

  .App {
    padding-bottom: 25px;
  }
}

@keyframes winner-text {
  from {
      scale: 100%;
  }

  to {
      scale: 120%;
  }
}